<footer class="site-footer relative overflow-hidden bg-loco-tan lg:-mt-1/10">
  
  <div class="relative md:absolute md:bottom-0 md:left-0 w-full md:w-1/2" style=" transform: translateY(5%);">
    {% image "/assets/img/footer-img.png", "" %}
  </div>
  <div class="absolute bottom-0 left-0 w-full z-20" style="">
    <svg role="presentation" class="w-full" viewBox="0 0 1126 350" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1126 350V0L0 350H1126Z" fill="black" />
    </svg>
  </div>
  <div class="absolute bottom-4 lg:bottom-8 right-4 lg:right-8 z-30">
    <div>
      <a href="https://www.lococookers.com" target="_blank" class="block w-20 text-white">
      {% include 'icons/loco-logo', icon_class: 'fill-current block w-full' %}
      <span class="sr-only">LoCo Cookers</span>
    </a>
      <span class="sr-only">LoCo Cookers</span>
    </div>
  </div>
</footer>