{% assign _text = headline_text %} 
{% assign _tag = headline_tag %}
 <{{_tag}} class="headline tracking-wider inline-block px-4 py-2 bg-loco-umber text-loco-tan font-bold uppercase text-lg">
 <span>{{ _text }}</span>
 </{{_tag}}>