{% assign _url = nav_link %}
{% assign _text = nav_text %}

<a class="inline-block hover:bg-black px-6 py-3 text-white uppercase text-lg font-bold tracking-wide cursor-pointer transition-colors" href="{{_url}}">
  <span>{{_text}}</span>
</a>